@charset "UTF-8";
.animated {
/*    -webkit-animation-duration: .7s;*/
/*    animation-duration: .7s;*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated .infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated .hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}


@-webkit-keyframes pulse {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.2, .2, .2);
        transform: scale3d(.2, .2, .2)
    }
    50% {
        opacity: .8;
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.2, .2, .2);
        transform: scale3d(.2, .2, .2)
    }
    50% {
        opacity: .8;
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.pulse {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: pulse;
    animation-name: pulse
}

@-webkit-keyframes bounceIn {
    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceIn {
    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

@-webkit-keyframes bounceInUp {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 500px, 0);
        transform: translate3d(0, 500px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInUp {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 500px, 0);
        transform: translate3d(0, 500px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.bounceInUp {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
/*        -webkit-filter: blur(0px);*/
/*        filter:blur(0px);*/
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
/*        -webkit-filter: blur(0px);*/
/*        filter:blur(0px);*/
    }
}

.fadeIn {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -500px, 0);
        transform: translate3d(0, -500px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -500px, 0);
        transform: translate3d(0, -500px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}
@-webkit-keyframes fadeInDown2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -130px, 0);
        transform: translate3d(0, -130px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -130px, 0);
        transform: translate3d(0, -130px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDown2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown2;
    animation-name: fadeInDown2
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-filter: blur(0px);
        filter:blur(0px);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
        
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-filter: blur(0px);
        filter:blur(0px);
    }
}

.fadeInLeft {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInRight {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 500px, 0);
        transform: translate3d(0, 500px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 500px, 0);
        transform: translate3d(0, 500px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateIn {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn
}

@-webkit-keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.rollIn {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: rollIn;
    animation-name: rollIn
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@-webkit-keyframes zoomInBig {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(3, 3, 3);
        transform: scale3d(3, 3, 3)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomInBig {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(3, 3, 3);
        transform: scale3d(3, 3, 3)
    }
    50% {
        opacity: 1
    }
}

.zoomInBig {
    -webkit-animation-name: zoomInBig;
    animation-name: zoomInBig
}

.pt-page-delay100 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.pt-page-delay180 {
    -webkit-animation-delay: .180s;
    animation-delay: .180s;
}

.pt-page-delay200 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.pt-page-delay300 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.pt-page-delay400 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.pt-page-delay500 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.pt-page-delay600 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.pt-page-delay700 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

.pt-page-delay800 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.pt-page-delay900 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.pt-page-delay1000 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.pt-page-delay1100 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.pt-page-delay1200 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.pt-page-delay1300 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.pt-page-delay1400 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.pt-page-delay1500 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.pt-page-delay1600 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.pt-page-delay1700 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.pt-page-delay1800 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.pt-page-delay1900 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}
.pt-page-delay2000 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.pt-page-delay2100 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.pt-page-delay2200 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
.pt-page-delay2300 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}
.pt-page-delay2400 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.pt-page-delay2500 {
    -webkit-animation-delay: 2.5s;
    animation-delay:2.5s;
}
.pt-page-delay2600 {
    -webkit-animation-delay: 2.6s;
    animation-delay:2.6s;
}
.pt-page-delay2700 {
    -webkit-animation-delay: 2.7s;
    animation-delay:2.7s;
}
.pt-page-delay2800 {
    -webkit-animation-delay: 2.8s;
    animation-delay:2.8s;
}
.pt-page-delay2900 {
    -webkit-animation-delay: 2.9s;
    animation-delay:2.9s;
}
.pt-page-delay3000 {
    -webkit-animation-delay: 3s;
    animation-delay:3s;
}
.pt-page-delay3100 {
    -webkit-animation-delay: 3.1s;
    animation-delay:3.1s;
}
.pt-page-delay3200 {
    -webkit-animation-delay: 3.2s;
    animation-delay:3.2s;
}
.pt-page-delay3300 {
    -webkit-animation-delay: 3.3s;
    animation-delay:3.3s;
}
.pt-page-delay3400 {
    -webkit-animation-delay: 3.4s;
    animation-delay:3.4s;
}
.pt-page-delay3500 {
    -webkit-animation-delay: 3.5s;
    animation-delay:3.5s;
}
.pt-page-delay3600 {
    -webkit-animation-delay: 3.6s;
    animation-delay:3.6s;
}
.pt-page-delay3700 {
    -webkit-animation-delay: 3.7s;
    animation-delay:3.7s;
}
.pt-page-delay3800 {
    -webkit-animation-delay: 3.8s;
    animation-delay:3.8s;
}

.pt-page-moveToTop {
    -webkit-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

@-webkit-keyframes moveToTop {
    from {}
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes moveToTop {
    from {}
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.pt-page-moveFromBottom {
    -webkit-animation: moveFromBottom .4s ease both;
    animation: moveFromBottom .4s ease both;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(80%);
        transform: translateY(80%);
    }to{
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(80%);
        transform: translateY(80%);
    }to{
        -webkit-transform: none;
        transform: none;
    }
}

.pt-page-moveToRight {
    -webkit-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}

@-webkit-keyframes moveToRight {
    from {}
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes moveToRight {
    from {}
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.pt-page-moveToLeft {
    -webkit-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
}

@-webkit-keyframes moveToLeft {
    from {}
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes moveToLeft {
    from {}
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.pt-page-moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.pt-page-moveFromTop {
    -webkit-animation: moveFromTop .4s ease both ;
    animation: moveFromTop .4s ease both;
}

@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }to{
        -webkit-transform:none;
        transform: none;
    }
}

@keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }to{
        -webkit-transform:none;
        transform: none;
    }
}

.pt-page-moveToBottom {
    -webkit-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

@-webkit-keyframes moveToBottom {
    from {}
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes moveToBottom {
    from {}
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.pt-page-scaleDown {
    -webkit-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
}

@-webkit-keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

@keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

.pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft .6s ease both;
    animation: moveFromLeft .6s ease both;
}

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.fadeLooper1 {
    -webkit-animation: fadeLooper 1s infinite alternate;
    animation: fadeLooper 1s ease infinite alternate;
}
.fadeLooper2 {
    -webkit-animation: fadeLooper 1.5s infinite alternate;
    animation: fadeLooper 1.5s ease infinite alternate;
}
.fadeLooper3 {
    -webkit-animation: fadeLooper 2s infinite alternate;
    animation: fadeLooper 2s ease infinite alternate;
}
.fadeLooper4 {
    -webkit-animation: fadeLooper 2.5s infinite alternate;
    animation: fadeLooper 2.5s ease infinite alternate;
}
@-webkit-keyframes fadeLooper {
    from{
        opacity:0.3;
    }
/*    to {*/
/*        opacity:1;*/
/*    }*/
}

@keyframes fadeLooper {
    from{
        opacity:0.3;
    }
/*    to {*/
/*        opacity:1;*/
/*    }*/
}

.shakeFilter {
    -webkit-animation-name: shakeFilter ;
    animation-name: shakeFilter;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-timing-function:ease;
    -webkit-animation-timing-function:ease;
}

@-webkit-keyframes shakeFilter {
    0% {
        opacity:0;
    }
    10%{
        opacity: 0.5;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        -webkit-filter:blur(10px);
        filter:blur(10px);
    }
    20%{
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    30%{
        opacity:1;
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
        -webkit-filter:blur(5px);
        filter:blur(5px);
    }40%{
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        
        -webkit-transform: none;
        transform: none;
        -webkit-filter:blur(0px);
        filter:blur(0px);
    }

}

@keyframes shakeFilter {
    0% {
        opacity:0;
    }
    10%{
        opacity: 0.5;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        -webkit-filter:blur(10px);
        filter:blur(10px);
    }
    20%{
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    30%{
        opacity:1;
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
        -webkit-filter:blur(5px);
        filter:blur(5px);
    }40%{
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        
        -webkit-transform: none;
        transform: none;
        -webkit-filter:blur(0px);
        filter:blur(0px);
    }

}
.rotateLeft {
 
    -webkit-animation-name: rotateLeft ;
    animation-name: rotateLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


@-webkit-keyframes rotateLeft {
    
    0%{
        opacity:0;
        
        -webkit-transform:rotate(90deg);
        transform: rotate(90deg);
    }
    
    100% {
         opacity:1;
        -webkit-transition:rotate(0deg);
        transition:rotate(0deg);
        
        
    }
    
}

@keyframes rotateLeft {
    0%{
        opacity:0;
        
        -webkit-transform:rotate(90deg);
        transform: rotate(90deg);
    }
    
    100% {
        opacity:1;
        -webkit-transition:rotate(0deg);
        transition:rotate(0deg);
        
        
    }
    
}
.rotateRight {
    -webkit-animation-name: rotateRight ;
    animation-name: rotateRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes rotateRight {
  
    0%{
        opacity:0;
        
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
    }
    
    100% {
        -webkit-transition:rotate(0deg);
        transition:rotate(0deg);
        
        
    }
    
}

@keyframes rotateLeft {
    0%{
        opacity:0;
        
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
    }
    
    100% {
        -webkit-transition:rotate(0deg);
        transition:rotate(0deg);
        
        
    }
    
}

.rotateLeft45 {

    -webkit-animation-name: rotateLeft45 ;
    animation-name: rotateLeft45;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}


@-webkit-keyframes rotateLeft45 {
    0% {
        opacity: 0;
     
        -webkit-transform:rotateZ(45deg);
        transform: rotateZ(45deg);
        
    }
    50% {

    }
    100% {
        opacity: 1;
    
        -webkit-transform:rotateZ(0);
        transform: rotateZ(0);
    }
    
}
@keyframes rotateLeft45 {
    0% {
        opacity: 0;

        -webkit-transform:rotateZ(45deg);
        transform: rotateZ(45deg);
        
    }
    50% {
/*        opacity: .8;*/
/*        -webkit-transform: scale3d(1.05, 1.05, 1.05);*/
/*        transform: scale3d(1.05, 1.05, 1.05)*/
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
        -webkit-transform:rotateZ(0);
        transform: rotateZ(0);
    }
    
}


/* scale and fade */

.scaleDown {

    -webkit-animation-name: scaleDown ;
    animation-name: scaleDown;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-timing-function:ease ;
    animation-timing-function:ease ;
}

.scaleUp {

    -webkit-animation-name: scaleUp ;
    animation-name: scaleUp;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-timing-function:ease ;
    animation-timing-function:ease ;
}

.pt-page-scaleUpDown {
    -webkit-animation: scaleUpDown .5s ease both;
    animation: scaleUpDown .5s ease both;
}

.pt-page-scaleDownUp {
    -webkit-animation: scaleDownUp .5s ease both;
    animation: scaleDownUp .5s ease both;
}

.pt-page-scaleDownCenter {
    -webkit-animation: scaleDownCenter .4s ease-in both;
    animation: scaleDownCenter .4s ease-in both;
}

.pt-page-scaleUpCenter {
    -webkit-animation: scaleUpCenter .4s ease-out both;
    animation: scaleUpCenter .4s ease-out both;
}

/********************************* keyframes **************************************/

/* scale and fade */

@-webkit-keyframes scaleDown {
    from { }
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
    from { }
    to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownUp {
    from { }
    to { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleDownUp {
    from { }
    to { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownCenter {
    from { }
    to { opacity: 0; -webkit-transform: scale(.7); }
}
@keyframes scaleDownCenter {
    from { }
    to { opacity: 0; -webkit-transform: scale(.7); transform: scale(.7); }
}

@-webkit-keyframes scaleUpCenter {
    from { opacity: 0; -webkit-transform: scale(.7); }
}
@keyframes scaleUpCenter {
    from { opacity: 0; -webkit-transform: scale(.7); transform: scale(.7); }
}

/**new*/
.lightingPulse {
    -webkit-animation-name: lightingPulse ;
    animation-name: lightingPulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes lightingPulse {
    from {  -webkit-box-shadow: 0 0 9px #333; }
    50% {  -webkit-box-shadow: 0 0 18px #e33100; }
    to {  -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes lightingPulse {
    from {  -webkit-box-shadow: 0 0 9px #333; }
    50% {  -webkit-box-shadow: 0 0 18px #e33100; }
    to {  -webkit-box-shadow: 0 0 9px #333; }
}
.centerFly {
    -webkit-animation-name: centerFly ;
    animation-name: centerFly;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
   
}

@-webkit-keyframes lightingPulse {
    from {  }
    50% {  -webkit-box-shadow: 0 0 18px #e33100; }
    to {  -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes lightingPulse {
    from {  -webkit-box-shadow: 0 0 9px #333; }
    50% {  -webkit-box-shadow: 0 0 18px #e33100; }
    to {  -webkit-box-shadow: 0 0 9px #333; }
}
/*7-26*/
.slowly{
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
}
.verySlowly{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.quickly{
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

.rotateFromLeft {
    
    -webkit-animation-name: rotateFromLeft ;
    animation-name: rotateFromLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


@-webkit-keyframes rotateFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotateZ(-200deg);
        transform: translate3d(-100%, 0, 0) rotateZ(-200deg);
        
        
    }
    50% {
        
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes rotateFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotateZ(-200deg);
        transform: translate3d(-100%, 0, 0) rotateZ(-200deg);


    }
    50% {
 
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;

    }
    
}

.rotateFromRight {
    
    -webkit-animation-name: rotateFromRight ;
    animation-name: rotateFromRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


@-webkit-keyframes rotateFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0) rotateZ(360deg);
        transform: translate3d(200%, 0, 0) rotateZ(360deg);
        
        
    }
    50% {
        
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes rotateFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0) rotateZ(360deg);
        transform: translate3d(200%, 0, 0) rotateZ(360deg);
        
        
    }
    50% {
        
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
.climb {
    
    -webkit-animation-name: climb ;
    animation-name: climb;
    -webkit-animation-duration:2s;
    animation-duration: 2s;
}


@-webkit-keyframes climb {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, -300%, 0) rotateZ(15deg);
        transform: translate3d(200%, -300%, 0) rotateZ(15deg);
        
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(100%, -200%, 0) rotateZ(-15deg);
        transform: translate3d(100%, -200%, 0) rotateZ(-15deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(50%, -100%, 0) rotateZ(20deg);
        transform: translate3d(50%, -100%, 0) rotateZ(20deg);
    }
    80%{
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0) rotateZ(-5deg);
        transform: translate3d(0, 100%, 0) rotateZ(-5deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes climb {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, -300%, 0) rotateZ(15deg);
        transform: translate3d(200%, -300%, 0) rotateZ(15deg);
   
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(100%, -200%, 0) rotateZ(-15deg);
        transform: translate3d(100%, -200%, 0) rotateZ(-15deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(50%, -100%, 0) rotateZ(20deg);
        transform: translate3d(50%, -100%, 0) rotateZ(20deg);
    }
    80%{
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0) rotateZ(-5deg);
        transform: translate3d(0, 100%, 0) rotateZ(-5deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
.jump {
    
    -webkit-animation-name: jump ;
    animation-name: jump;
    -webkit-animation-duration:2s;
    animation-duration: 2s;
}


@-webkit-keyframes jump {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        
    }
    10% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0) scale3d(1,0.7,1);
        transform: translate3d(0, -50%, 0) scale3d(1,0.7,1);
    }
    30% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
    }
    
    
    80%{
        opacity: 1;
        -webkit-transform: translate3d(0, -700%, 0) scale3d(1,2,1);
        transform: translate3d(0, -700%, 0) scale3d(1,2,1);
    }
    96%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }


}
@keyframes jump {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        
    }
    10% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0) scale3d(1,0.7,1);
        transform: translate3d(0, -50%, 0) scale3d(1,0.7,1);
    }
    30% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
    }


    80%{
        opacity: 1;
        -webkit-transform: translate3d(0, -700%, 0) scale3d(1,2,1);
        transform: translate3d(0, -700%, 0) scale3d(1,2,1);
    }
    96%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}

.shakeJump {
    
    -webkit-animation-name: shakeJump ;
    animation-name: shakeJump;
    -webkit-animation-duration:2s;
    animation-duration: 2s;
}


@-webkit-keyframes shakeJump {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        
    }
    10% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(-15deg);
        transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(-15deg);
    }
    20% {
        -webkit-transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(15deg);
        transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(15deg);
    }
    30% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
    }
    40%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(15deg);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(15deg);
    }
    50%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
    }
    80%{
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(1,1,1) rotateZ(15deg);
        transform: translate3d(0, -100%, 0) scale3d(1,1,1) rotateZ(15deg);
    }
    96%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,1,1);
        transform: translate3d(0, 0, 0) scale3d(1,1,1);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes shakeJump {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        
    }
    10% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(-15deg);
        transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(-15deg);
    }
    20% {
        -webkit-transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(15deg);
        transform: translate3d(0, -50%, 0) scale3d(1,0.7,1 ) rotateZ(15deg);
    }
    30% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
    }
    40%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(15deg);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(15deg);
    }
    50%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
        transform: translate3d(0, 0, 0) scale3d(1,0.7,1) rotateZ(-15deg);
    }
    80%{
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(1,1,1) rotateZ(15deg);
        transform: translate3d(0, -100%, 0) scale3d(1,1,1) rotateZ(15deg);
    }
    96%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,1,1);
        transform: translate3d(0, 0, 0) scale3d(1,1,1);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}

.scaleSmall {
    
    -webkit-animation-name: scaleSmall ;
    animation-name: scaleSmall;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


@-webkit-keyframes scaleSmall {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        -webkit-transform:translate3d(0,0, 0) scale3d(3,1,1 ) rotateZ(-20deg);
        transform:translate3d(0, 0, 0)  scale3d(3,1,1 ) rotateZ(-20deg);
    }
    10% {
        opacity: 0.1;
/*        -webkit-transform: scale3d(2,2,1 ) rotateZ(10deg);*/
/*        transform:  scale3d(2,2,1 ) rotateZ(10deg);*/
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes scaleSmall {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        -webkit-transform:translate3d(0, 0, 0) scale3d(3,1,1 ) rotateZ(-20deg);
        transform:translate3d(0, 0, 0)  scale3d(3,1,1 ) rotateZ(-20deg);
    }
    10% {
        opacity: 0.1;
/*        -webkit-transform: scale3d(2,2,1 ) rotateZ(10deg);*/
/*        transform:  scale3d(2,2,1 ) rotateZ(10deg);*/
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
.shakeHead {
    
    -webkit-animation-name: shakeHead ;
    animation-name: shakeHead;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
    -webkit-transform-origin:50% 100%;
    transform-origin:50% 100%;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


@-webkit-keyframes shakeHead {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        -webkit-transform:translate3d(0,0, 0) scale3d(1.5,1.5,1 ) rotateZ(-30deg);
        transform:translate3d(0, 0, 0)  scale3d(1.5,1.5,1 ) rotateZ(-30deg);
    }
    40% {
        opacity: 1;
        -webkit-transform:translate3d(0,0, 0) scale3d(1.5,1.5,1 ) rotateZ(30deg);
        transform:translate3d(0, 0, 0)  scale3d(1.5,1.5,1 ) rotateZ(30deg);
    }
    60% {
        opacity: 1;
        -webkit-transform:translate3d(0,0, 0) scale3d(1.5,1.5,1 ) rotateZ(-30deg);
        transform:translate3d(0, 0, 0)  scale3d(1.5,1.5,1 ) rotateZ(-30deg);
    }
    80% {
        opacity: 1;
        -webkit-transform:translate3d(0,0, 0) scale3d(1,1,1 ) rotateZ(20deg);
        transform:translate3d(0, 0, 0)  scale3d(1,1,1 ) rotateZ(20deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes shakeHead {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        -webkit-transform:translate3d(0,0, 0) scale3d(1.5,1.5,1 ) rotateZ(-30deg);
        transform:translate3d(0, 0, 0)  scale3d(1.5,1.5,1 ) rotateZ(-30deg);
    }
    40% {
        opacity: 1;
        -webkit-transform:translate3d(0,0, 0) scale3d(1.5,1.5,1 ) rotateZ(30deg);
        transform:translate3d(0, 0, 0)  scale3d(1.5,1.5,1 ) rotateZ(30deg);
    }
    60% {
        opacity: 1;
        -webkit-transform:translate3d(0,0, 0) scale3d(1.5,1.5,1 ) rotateZ(-30deg);
        transform:translate3d(0, 0, 0)  scale3d(1.5,1.5,1 ) rotateZ(-30deg);
    }
    80% {
        opacity: 1;
        -webkit-transform:translate3d(0,0, 0) scale3d(1,1,1 ) rotateZ(20deg);
        transform:translate3d(0, 0, 0)  scale3d(1,1,1 ) rotateZ(20deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
.jump1 {
    
    -webkit-animation-name: jump1 ;
    animation-name: jump1;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


@-webkit-keyframes jump1 {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
       
    }
    20% {
        opacity: 1;
       
    }
    60% {
        opacity: 1;
        -webkit-transform:translate3d(0,-100%, 0) scale3d(1,1,1 ) ;
        transform:translate3d(0, -100%, 0)  scale3d(1,1,1 ) ;
    }
   
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes jump1 {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
        
    }
    20% {
        opacity: 1;
        
    }
    60% {
        opacity: 1;
        -webkit-transform:translate3d(0,-100%, 0) scale3d(1,1,1 ) ;
        transform:translate3d(0, -100%, 0)  scale3d(1,1,1 ) ;
    }
    
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }

    
}
/*缓慢的fadeIn 加放大*/
@-webkit-keyframes fadeInLeftAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(0.5,0.5,1 ) ;
        transform: translate3d(-100%, 0, 0) scale3d(0.5,0.5,1 )
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 ) ;
        transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 )
    }
    100%{
        -webkit-transform:scale3d(1,1,1 ) ;
        transform:scale3d(1,1,1 )
    }
    
}

@keyframes fadeInLeftAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(0.5,0.5,1 ) rotateZ(0deg);
        transform: translate3d(-100%, 0, 0) scale3d(0.5,0.5,1 ) rotateZ(0deg)
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 ) ;
        transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 )
    }
    
    100%{
        -webkit-transform:scale3d(1,1,1 ) ;
        transform:scale3d(1,1,1 )
    }
}

.fadeInLeftAnimation {
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-name: fadeInLeftAnimation;
    animation-name: fadeInLeftAnimation
}

@-webkit-keyframes fadeInRightAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0) scale3d(0.5,0.5,1 );
        transform: translate3d(200%, 0, 0) scale3d(0.5,0.5,1 )
    }
    50%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 ) ;
        transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 )
    }
    100% {
        -webkit-transform:scale3d(1,1,1 ) ;
        transform:scale3d(1,1,1 )
        
    }
}

@keyframes fadeInRightAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0) scale3d(0.5,0.5,1 );
        transform: translate3d(200%, 0, 0) scale3d(0.5,0.5,1 )
    }
    50%{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 ) ;
        transform: translate3d(0, 0, 0) scale3d(0.5,0.5,1 )
    }
    100% {
        -webkit-transform:scale3d(1,1,1 ) ;
        transform:scale3d(1,1,1 )
        
    }
}

.fadeInRightAnimation {
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-name: fadeInRightAnimation;
    animation-name: fadeInRightAnimation
}
/*3d 翻页*/
.rotate3D {
    
    -webkit-animation-name: rotate3D ;
    animation-name: rotate3D;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
}


@-webkit-keyframes rotate3D {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(180deg);
        transform:  rotateY(180deg);
        
        
    }
   
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
@keyframes rotate3D {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(180deg);
        transform:  rotateY(180deg);
        
        
    }
   
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
    
}
/*一直 旋转 */

.rotateInfinite {
 
    -webkit-animation-name:rotating;
    animation-name:rotating;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-duration:24s;
    animation-duration:24s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    
}
@-webkit-keyframes rotateInfinite{
    from{
        opacity:0.3;
        -webkit-transform:rotate(0);transform:rotate(0)
    }to{
        opacity:1;
        -webkit-transform:rotate(360deg);transform:rotate(360deg)
    }
}
@keyframes rotateInfinite{
    from{
        opacity:0.3;
        -webkit-transform:rotate(0);transform:rotate(0)
    }to{
        opacity:1;
        -webkit-transform:rotate(360deg);transform:rotate(360deg)
    }
}
